<app-admin-nav></app-admin-nav>
<!-- app.component.html -->
<div class="container mt-4">
    <h2 class="mt-5">User Table</h2>
    <div class="form-signin">
        <form [formGroup]="searchForm" (ngSubmit)="search()">
            <input type="text" formControlName="name" placeholder="Search" class="input form-control" />
            <button class="btn btn-primary btn-sm mt-3">Search</button>
        </form>
        <button class="btn btn-primary btn-sm mt-3" (click)="redirect()">Add new user</button>
    </div>
    <table class="table table-responsive mt-5">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userdata$ | async">
                <td>
                    <img alt="No Photo" [src]="'http://localhost:4000/file/'+ user.image" class="img-thumbnail"
                        width="50" height="50">
                </td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <button class="btn btn-sm btn-primary me-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        (click)="editUser(user._id)">Edit</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteUser(user._id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>